/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FINE RESET */

/* COMMON */
body { 
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.col {
    float:left;
} 

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.button {
    display: inline-block;
    background-color: #7cbb02;
    padding: 20px 15px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}

.bg-grey {
    background-color: #d3d3d3;
}

.grey-text {
    color: #808080;
    font-size: 18px;
    line-height: 25px;
}

.green-text  {
    color: #7cbb02;
    font-size: 25px;
    line-height: 30px;
}

.centered {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
/* FINE COMMON */

/* HEADER */
header {
    height: 550px;
    background-color: #0c325a;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 118% 105%;
}

header .container {
    padding: 15px 0;
}


/* Logo */
.logo {
    width: 10%;
}

.logo img {
    width: 100%;
}
/* Fine Logo */

/* Menu Centrale */
.menu-central {
    width: 50%;
    padding-left: 50px;
}
/* Fine Menu Centrale */

/* Menu a Destra */
.menu-right {
    width: 40%;
    padding-left: 30px;
}

.menu-right .login {
    border: 1px solid white;
    padding: 8px 30px; 
    border-radius: 5px;
}

.login:hover {
    border-color: rgb(238, 255, 0);
}

.menu-right .button {
    padding: 10px 10px;
    display: inline;
    font-size: 11px;
}

.menu-right .button:hover {
    color: white;
}
/* Fine Menu a Destra */

/* Visualizzazione Generale Menu */
nav li {
    display: inline-block;
    line-height: 50px;
    margin-left: 18px;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
}

nav li a:hover {
    color:rgb(238, 255, 0);
}
/* Fine Visualizzazione Generale Menu */

/* Teaser */
.teaser {
    width: 52%;
    margin-top: 185px;
}

.teaser h1 {
    color: white;
    font-size: 50px;
    font-weight: 400;
}

.teaser .button {
    margin-top: 20px;
}
/* Fine Teaser */
/* FINE HEADER */

/* SEZIONE BG GREY */
section.bg-grey {
    height: 150px;
    position: relative;
}


section.bg-grey .container{
    text-align: center;
}

.centered h2 {
    font-size: 25px;
    line-height: 40px;
}

.centered h3 {
    font-weight: 400;
    line-height: 40px;
}
/* FINE SEZIONE BG GREY */

/* SEZIONE CONTENUTI */

.content {
    text-align: center;
    padding: 40px 0;
}

.content img {
    height: 150px;
}

.content h4 {
    margin: 20px 0;
}

.content hr {
    width: 20%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.623);
}

.content-left,
.content-right {
    width: 30%;
}

.content-center {
    width: 30%;
    margin: 0 5%;
}

/* FINE SEZIONE CONTENUTI */

/* hr */
hr {
    width: 98%;
    margin: 0 auto;
    border:none;
    height: 1px;
    background-color: #d3d3d3;
}
/* fine hr */

/* SEZIONE MONTAGNA */

.mountain {
    padding: 40px 0;
}

.mountain-img {
    width: 40%;
    margin: 0 5%;
}

.mountain-text {
    width: 40%;
    margin: 0 5%;
}

.mountain-text h2 {
    font-size: 35px;
    font-weight: 500;
}

.mountain-text p {
    margin-top: 15px;
}

.mountain-text a {
    margin-top: 18px;
    display: inline-block;
    font-size: 15px;
}
/* FINE SEZIONE MONTAGNA */

/* FOOTER */
footer {
    position: relative;
    height: 150px;
}

.footer-left {
    width: 55%;
    font-size: 35px;
    line-height: 58px;
    font-weight: 500;
}

.footer-center {
    width: 25%;
    line-height: 58px;
}

.footer-center select{
    width: 70%;
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid #808080;
}

.footer-right {
    width: 20%;
}
/* FINE FOOTER */

/* FIXED HELPER */
.help {
    position: fixed;
    bottom: 0;
    right: 180px;
}
.help .button {
    padding: 10px 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/* FINE FIXED HELPER */